{% load static %}
{% load crispy_forms_tags %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Login </title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="display-6">Login<i class="fas fa-globe-americas"></i></h1>
          <p class="lead">Please, enter your username and password</p>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}           
        <button class="btn btn-secondary" type="submit">Log In</button>
      </form>
    </div>
  </body>
</html>