{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags i18n slick_reporting_tags static %}
{{ form.media }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <title>{% block title %}{{username}} - Home  {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">EnergyConservation</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if user.is_authenticated %}
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Rooms</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'reports' %}">Reports</a>
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout/">Logout</a>
                  </li>
                  {% endif %}
              </div>
            </div>
          </nav>
          <div class="container pt-5 pb-5">
            {% block pagecontent %}
            {% endblock %}
        </div>
    </body>
</html>