{% extends 'base/base.html' %}

{% block title %} Home {% endblock %}

{% block pagecontent %}
    <div class="container">
        <h2>Create new Appliance</h2>
        <br>
        <br>
        <form method="POST" action="{% url 'create_appliance' room_number %}"> 
            {{ field.errors }}
        {{ field.label_tag }} {{ field }}
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-secondary"> Create!!
            </button>
        </form>

    </div>
{% endblock %}