{% extends 'base/base.html' %}

{% block title %} Home {% endblock %}

{% block pagecontent %}
    <div class="container">
        <h2>Register Action</h2>
        <br>
        <br>
        <form class="col-md-4" method="POST" action="{% url 'create_action' room_number appliance_id %}"> 
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-secondary"> Create!!</button>
        </form>

    </div>
{% endblock %}